<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %level %logger{1.} - %msg%n"/>
    </Console>
    <RollingFile name="RollingFile" fileName="logs/debug.log"
                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss} [%t] %level %logger{1.} - %msg%n"</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="25 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <!-- DEFAULT: If the other logger clauses don't apply, log it. This includes our implementation
    classes in com.azure.messaging.eventhubs.implementation. -->
    <Logger name="com.azure.messaging.servicebus" level="DEBUG">
    </Logger>

    <!-- Log everything from ReceiveLinkHandler except the 'onDelivery' messages. -->
    <Logger name="com.azure.core.amqp.implementation.handler.ReceiveLinkHandler" level="DEBUG">
    </Logger>

    <!-- OPTIONAL: Log everything from SendLinkHandler except the 'onLinkFlow' messages. -->
    <Logger name="com.azure.core.amqp.implementation.handler.SendLinkHandler" level="DEBUG">
    </Logger>

    <!-- Log messages in ReactorSender that are not 'On next' or 'process delivered message'. -->
    <Logger name="com.azure.core.amqp.implementation.ReactorSender" level="DEBUG">
    </Logger>

    <!-- DEFAULT: Log debug messages for our core AMQP implementation classes. -->
    <Logger name="com.azure.core.amqp.implementation" level="DEBUG">
    </Logger>

    <!-- Root logger. -->
    <Root level="WARN">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>
